@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: rgb(83, 79, 79);
}

.theH2 {
  width: fit-content;
  margin: 10px auto 50px;
}

.main {
  width: 500px;
  margin: auto;
  padding: 10px;
  background-color: rgb(71, 129, 255);
}

form {
  width: fit-content;
  height: fit-content;
  margin: 0 0 20px;
}

input[type='text'] {
  width: 50%;
  height: 30px;
  outline: none;
  padding: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  font-size: 18px;

  vertical-align: middle;
}

button[type='submit'] {
  height: 30px;
  border: none;
  background-color: white;
  margin: 0 0 0 5px;
  padding: 5px;
  font-weight: 500;
  cursor: pointer;

  vertical-align: middle; /* makes so button and inputline up   */
}

/* rows */

.row {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  margin: 3px 0;
  background-color: rgb(240, 246, 240);
}

.posting {
  width: 120px;
}

.posting input[type='checkbox'] {
  display: inline-block;
  margin: 0 5px;
}

.posting .thePost {
  display: inline-block;
}

.posting input[type='text'] {
  width: 75%;
  box-shadow: none;
  padding: 5px;
}

.edits {
  width: fit-content;
  display: inline-block;
}

.editBtn {
  border: none;
  background-color: transparent;
  font-weight: 600;
  padding: 0 20px;
}

.submitEditsBtn {
  border: none;
  padding: 2px;
  font-size: 18px;
}

.cancelEditing {
  font-size: 10px;
  margin: 0 10px 0 4px;
  border: none;
}

.fa-trash-alt {
  color: rgb(83, 79, 79);
}

/* Media Queries */
@media (max-width: 786px) {
  .theH2 span {
    display: none;
  }
}

@media (max-width: 576px) {
  .main {
    width: 95vw;
    min-width: 350px;
  }

  .submitEditsBtn {
    padding: 2px 10px;
  }

  .cancelEditing {
    font-size: 14px;
    margin: 0 25px 0 10px;
  }
}
